*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#ffffff;
    --off-white:#e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.1);
    --blue-1:#62b8f5;
    --blue-2:#4475ef;
    --shadow: rgba(3, 48, 87, 0.2)
    --yellow-1: rgb(224, 224, 75);
    --yellow-2: rgb(196, 196, 141);
}
body{
    height: 100vh;
    background: linear-gradient(135deg, var(--yellow-1), var(--yellow-2));
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    font-size:16px;
    width: 90vw;
    max-width: 30em;
    position:absolute;
}
.container{
    width: 100%;
    background-color: black;
    backdrop-filter: blur(1.2em);
    padding: 100px;
    border-radius: 10px;
    color:white;
    text-align: center;
    line-height: 2em;
}
.search-container{
    display: flex;
    gap:1.25em;
    justify-content: center;
    
}
.search-container input, 
.search-container button{
    outline: none;
    border:none;
    font-size: 1em;
}
.search-container button{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.search-container button:hover{
    cursor: pointer;
    background-color: yellow;
}
.search-container input{
    background-color: transparent;
    border-bottom: 2px solid var(--transp-white-1);
    color: var(--white);
}
.search-container input ::placeholder{
    color: var(--off-white);
}   
.search-container input:focus{
    border-color: yellow;
    color:yellow;
}
.temp-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
    .title1{
    border-right: 2px solid red;
}
